:root {

        --iris: #4D5AE5;
        --navy-blue: #2E2F42;
        --slate: #434455;
        --white: #FFF;
        --cloud: #F4F4FD;
        --ocean: #404BBF;
        --cornflower: #E7E9FC;

}

body {

        font-family: 'Roboto', sans-serif;
}

address {

        font-style: normal;
}

a {

        text-decoration: none;
}

.header-logo {

        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;

        color: var(--navy-blue);
        width: 71px;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        cursor: default;

}

.iris {

        color: var(--iris);

        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;

        width: 44px;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        cursor: default;
}

.nav {

        color: var(--navy-blue);
        list-style-type: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;


}

.nav-list {

        cursor: default;

}

.nav-list-item {

        color: var(--navy-blue);
        list-style-type: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;
}

.nav-link {

        color: var(--navy-blue);
        list-style-type: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;
}

a.nav-link:hover {

        color: var(--iris);
        cursor: default;
}


.address {

        color: var(--slate);
        list-style-type: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;
}

.address-list {

        cursor: default;
}

.address-list-item {

        color: var(--slate);
        list-style-type: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;
}

.address-link {

        color: var(--slate);
        list-style-type: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        cursor: default;
}

a.address-link:hover {

        color: var(--iris);
        cursor: default;

    }

.hero {

        background: var(--navy-blue);
}

.hero-title {

        color: var(--white);
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
}

.button {

     
        color: var(--white);
        background: var(--iris);
    
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        
}

.features {

        list-style-type: none;
        color: var(--slate);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        
}

.features-title {

        color: var(--navy-blue);
        text-transform: capitalize;
        
}


.teams {

        background: var(--cloud);
}

.team-title {

        color: var(--navy-blue);
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.images-title {

        color: var(--navy-blue);
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.images {

        list-style-type: none;
}

.team-list {

        list-style-type: none;
}

.team-name {

        color: var(--navy-blue);
        text-align: center;
}

.team-jobs {

        color: var(--slate);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}


footer {

        background: var(--navy-blue);

        color: var(--cloud);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}


.footer-logo {

        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;

        color: var(--cloud);
        width: 71px;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        cursor: default;
}

.filters-list {

        list-style: none;
}

.filters-button {

        color: var(--iris);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        
        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background: var(--cloud);
        cursor: pointer;
}

.filters-button:hover {

        color: var(--white);
        border-radius: 4px;
        background: var(--ocean);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.projects-list {

        list-style: none;
}

.projects-list-item {

        color: var(--slate);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.projects-list-title {

        color: var(--navy-blue);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}